



.sf-menu.sf-style-minett {
  margin:0px;
  float:right !important;
}

.sf-menu.sf-style-minett > li {
  position:relative;
}

.sf-menu.sf-style-minett > li > a {
  position:relative;
	color: #8c8e90 !important;
  text-shadow: none;
  border-radius: 2px;  
  padding:10px 24px 10px 24px; 
  margin-left:4px !important; 
  margin-top:4px !important; 
  background: transparent !important;
  float:right !important;
}

.sf-menu.sf-style-minett > li:last-child > a {
  margin-right:0px !important; 
}



.sf-menu.sf-style-minett > li:hover > a {
	color:#fff !important;
  background:#979797 !important;
}

.sf-menu.sf-style-minett > li > a.active {
	color:#fff !important;
  background:#3b3b3b !important;  
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
}

        
  .sf-menu.sf-style-minett li ul {
  	display:none;
  	z-index:99;
  	margin:0px; 
    margin-left:4px; 
    padding:10px 20px 10px 20px; 
  	background:#f5f7f8;  
  }     
         
 .sf-menu.sf-style-minett li:hover ul {
    position:absolute;
    top:44px;
  	display:block;
  	list-style-type:none;
    border:1px solid #d9dddf;
  }  
  
 .sf-menu.sf-style-minett li ul li {
    font-size:13px;
  	margin:0px; 
  	padding:0px;
    width:160px;  
  	-webkit-transition:all 0.3s;
  	-moz-transition:all 0.3s;
  	-o-transition:all 0.3s;
  	-ms-transition:all 0.3s;
  	transition:all 0.3s;
    border-bottom:1px solid #d9dddf;
  }
  
 .sf-menu.sf-style-minett li ul li:last-child {
     border-bottom:0px;
  }
  
 .sf-menu.sf-style-minett li ul li a {
    color:#8c8e90;
  	padding:10px 0px 10px 0px;
  	margin:0px;
  	display:inline-block;
  	text-decoration:none;
  }
  
 .sf-menu.sf-style-minett li ul li:hover a {
  	color:#3b3b3b;
  }
