/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0px; background: #fff; border: 0px solid #fff; position: relative; -webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; box-shadow: 0 0px 0px rgba(0,0,0,.2); -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.2); -moz-box-shadow: 0 0px 0px rgba(0,0,0,.2); -o-box-shadow: 0 0px 0px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Direction Nav */
/*
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 20px; height: 40px; margin: -25px 0 0; display: block; background: url(../images/bg-direction-nav.png) no-repeat 0 0; position: absolute; bottom: 20px; z-index: 10; cursor: pointer; font-size:0px; text-indent: -20px; opacity: 0.9; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 20px; }
.flex-direction-nav .flex-prev {right: 60px;}
.flexslider:hover .flex-next {opacity: 0.9; right: 20px;}
.flexslider:hover .flex-prev {opacity: 0.9; right: 60px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .6!important; filter:alpha(opacity=60); cursor: default;}
*/

/* Control Nav */
.flex-control-nav {display:none; width: 100%; position: absolute; bottom: 12px; right: 12px; text-align: right;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 8px; height: 8px; display: block; background: #fff; background: rgba(0,0,0,0); border:2px solid #b8b8b8; cursor: pointer; font-size:0px; text-indent: -20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #fff; background: rgba(255,255,255,0.2); }
.flex-control-paging li a.flex-active {position:relative; top: -2px; width: 12px; height: 12px; border:0px; background: #fff; background: rgba(255,255,255,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
.view-front-slider-block .flex-direction-nav a {position: absolute; bottom: 20px;}
.view-front-slider-block .flex-direction-nav .flex-prev {opacity: 0.8; left: 20px !important; text-indent: -500px; -webkit-transition: position 0.6s ease;}
.view-front-slider-block .flex-direction-nav .flex-next {opacity: 0.8; right: 20px !important; text-indent: -500px; -webkit-transition: position 0.6s ease;}
.view-front-slider-block:hover .flex-prev {opacity: 1; left: 20px !important;}
.view-front-slider-block:hover .flex-next {opacity: 1; right: 20px !important;}
.view-front-slider-block .flex-control-nav {display:none;}
}

/* Direction Nav view-front-slider-block */
.view-front-slider-block .flex-direction-nav {*height: 0;}
.view-front-slider-block .flex-direction-nav a {width: 40px; height: 40px; margin: -20px 0 0 0; display: block; background: url(../images/bg-direction-nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; font-size:0px; text-indent: -20px; opacity: 0.5; -webkit-transition: all .3s ease;}
.view-front-slider-block .flex-direction-nav .flex-next {background-position: 100% 0; right: 20px;}
.view-front-slider-block .flex-direction-nav .flex-prev {left: 20px;}
.view-front-slider-block:hover .flex-next {opacity: .8; right: 20px;}
.view-front-slider-block:hover .flex-prev {opacity: .8; left: 20px;}
.view-front-slider-block .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.view-front-slider-block .flex-direction-nav .flex-disabled {opacity: .6!important; filter:alpha(opacity=60); cursor: default;}

/* Direction Nav Slider2 */
.slider2  {background:transparent;}
.slider2 .flex-direction-nav {*height: 0;}
.slider2 .flex-direction-nav a {width: 34px; height: 34px; margin: -21px 0 0; display: block; background: url(../images/bg-direction-nav-2.png) no-repeat 0 0; position: absolute; top: -23px; z-index: 10; cursor: pointer; text-indent: -2500px; opacity: .8; -webkit-transition: all .3s ease;}
.slider2 .flex-direction-nav .flex-next {background-position: 100% 0; right: 0px; }
.slider2 .flex-direction-nav .flex-prev {right: 35px;}
.slider2:hover .flex-next {opacity: 1;}
.slider2:hover .flex-prev {opacity: 1;}
.slider2 .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: .8;}
.slider2 .flex-direction-nav .flex-disabled {opacity: .6!important; filter:alpha(opacity=60); cursor: default;}
.slider2 .flex-control-nav {display:none;}

