/* --------------------------------------------------------	*/
/*	Twitter Bootstrap */
/*	Responsive media queries */
/* --------------------------------------------------------	*/

@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

/* --------------------------------------------------------	*/
/*	Base */
/* --------------------------------------------------------	*/

::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection { background: #999; color: #fff; text-shadow: none; }
:focus { outline-color: transparent!important; outline-style: none!important; }

html {
	overflow-y:scroll;
	background:#fff;	
}

body {
	margin: 0;
	padding: 0;                      
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;	
	cursor:default;
  background:#fff;
}

h1, h2, h3, h4, h5, h6 {
  position:relative;
  font-family: 'Titillium Web', sans-serif; 
  font-weight: 200;
	line-height: 1.25;
 	color: #fff;
  margin:0px;
	padding: 20px 0;
  clear:both;
}

h1, h2 {
  font-size:42px;
  padding: 20px 0 10px 0;
}

h1 {
  color:#3b3b3b;
}

h2 {
  padding: 50px 0 40px 0;
}

h3 {
  font-size:24px;
  line-height:30px;  
}

h4 {
  font-size:20px;
  line-height:24px;
  font-weight:500;
}

h5, h6 {
  font-size:20px;
  line-height:26px;
}    

hr {
  height:1px;
  border:0px;
  background:#4973c2;
  margin:25px 0 25px 0;
  clear:both;
}

p {
  margin:15px 0;
}

blockquote {        
  color:#83adff;
  margin:15px 0px;
  border-left:5px solid #467add; 
}

a {
  color:#fff;
  text-decoration:none;
}

a:hover {
  color:#fff;
  text-decoration:none;
}

img {
  width:100%;
}

/* --------------------------------------------------------	*/
/*	Main Classes */
/* --------------------------------------------------------	*/

.white {
  color:#fff;
}

.blue{
  color:#467add;
}

.blue2{
  color:#e4f2ff;
}

.blue-dark{
  color:#1b3057;
}

.bold {
  font-weight:bold;
}

.normal {
  font-weight:normal;
}

.space5 {
  height:5px;
  clear:both;
}

.space10 {
  height:10px;
  clear:both;
}

.space15 {
  height:15px;
  clear:both;
}

.space20 {
  height:20px;
  clear:both;
}

.space25 {
  height:25px;
  clear:both;
}

.space30 {
  height:30px;
  clear:both;
}

.space40 {
  height:40px;
  clear:both;
}

.space50 {
  height:50px;
  clear:both;
}

.space60 {
  height:60px;
  clear:both;
}

.space70 {
  height:70px;
  clear:both;
}

.space80 {
  height:80px;
  clear:both;
}

.space90 {
  height:90px;
  clear:both;
}

.space100 {
  height:100px;
  clear:both;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}

.f-left {
  float:left !important;
}

.f-right {
  float:right;
}

.pad1 {
  padding-top:6px;
}

.pad2 {
  padding-top:18px;
}

.p-t-0{
  padding-top:0px;
}

.pos-r {
  position:relative;
}

.c-b {
  clear:both;
}

.o-h {
  overflow:hidden;
}

/* --------------------------------------------------------	*/
/*  Header  */
/* --------------------------------------------------------	*/

header {
  position:relative;
  color:#979797;
  min-height:396px;
  display:block;
}

.t-container {
  position:relative;
}

.texture {
  position:absolute;
  top:0px;
  left:-210px;
  width:751px;
  height:596px;
}

.logo {
  position:relative;
  margin-top:70px;
}

.head-info {
  font-size:16px;
  line-height:22px;
}

  /* --------------------------------------------------------	*/
  /*  Slider  */
  /* --------------------------------------------------------	*/
    
  .slider1 {
    width:100%;
    border-bottom:0px;
  }

/* --------------------------------------------------------	*/
/*	Navigation */
/* --------------------------------------------------------	*/
  
.navbar, #block-jump-menu-jump-menu-m-main-menu {
  color:#8c8e90; 
  background:transparent;
  font-size:14px;
  height:53px;
  position:relative;
  float:right !important;
}

.navbar .nav-responsive, #block-jump-menu-jump-menu-m-main-menu {

	display:none;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height:20px;
  height:36px;
  border-radius: 0px;
  color: #464646;
  /*background:url(../images/select-box.png) right center no-repeat;*/
  -webkit-appearance: none;
  opacity: 0.6;
  -webkit-transition: all 0.8s ease;
  float:right !important;
}

.nav-responsive:hover {
  opacity: 0.9;
  -webkit-transition: all 0.8s ease;
}

.navbar .nav {
  margin:0px;
  float:right !important;
}

.navbar .nav > li {
  position:relative;
}

.navbar .nav > li > a {
  position:relative;
	color: #8c8e90 !important;
  text-shadow: none;
  border-radius: 2px;  
  padding:10px 24px 10px 24px; 
  margin-left:4px !important; 
  margin-top:4px !important; 
  background: transparent !important;
  float:right !important;
}

.navbar .nav > li:last-child > a {
  margin-right:0px !important; 
}

.navbar .nav > li:hover > a {
	color:#fff !important;
  background:#979797 !important;
}

.navbar .nav > li.active > a {
	color:#fff !important;
  background:#3b3b3b !important;  
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
}

  /* --------------------------------------------------------	*/
  /*	Dropdown */
  /* --------------------------------------------------------	*/
        
  .navbar .nav li ul {
  	display:none;
  	z-index:99;
  	margin:0px; 
    margin-left:4px; 
    padding:10px 20px 10px 20px; 
  	background:#f5f7f8;  
  }     
         
  .navbar .nav li:hover ul {
    position:absolute;
    top:44px;
  	display:block;
  	list-style-type:none;
    border:1px solid #d9dddf;
  }  
  
  .navbar .nav li ul li {
    font-size:13px;
  	margin:0px; 
  	padding:0px;
    width:160px;  
  	-webkit-transition:all 0.3s;
  	-moz-transition:all 0.3s;
  	-o-transition:all 0.3s;
  	-ms-transition:all 0.3s;
  	transition:all 0.3s;
    border-bottom:1px solid #d9dddf;
  }
  
  .navbar .nav li ul li:last-child {
     border-bottom:0px;
  }
  
  .navbar .nav li ul li a {
    color:#8c8e90;
  	padding:10px 0px 10px 0px;
  	margin:0px;
  	display:inline-block;
  	text-decoration:none;
  }
  
  .navbar .nav li ul li:hover a {
  	color:#3b3b3b;
  }

/* --------------------------------------------------------	*/
/*  Content  */
/* --------------------------------------------------------	*/

#content {
  position:relative;
  background:#365eab;
}

/* --------------------------------------------------------	*/
/*  Home  */
/* --------------------------------------------------------	*/

.ic-1 {     
  width:45px;  
  height:30px;
  font-size:34px;
  float:left;
}

.ic-1 i {
  color:#1b3057;
}
   
.title-1 {
  color:#3c3c3c;
  float:left;
  font-size:16px;
  line-height:30px;
}

.title-1 h4 {
  padding-top:4px;
}

.text-1 {     
  padding-left:45px;
  clear:both;
}

.title-2 {
  font-size:16px;
  padding:15px 0;
}

.square-1 {
  color:#83adff;
  padding-bottom:24px; 
}

.square-1 img {
  -webkit-transition: all .3s ease;
}

.square-1:hover img {
  opacity:0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
  -webkit-transition: all .4s ease;
}

.img-container {
  position:relative;
}

.img-bg-icon {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: url(../images/zoom-icon.png) center center no-repeat;
  cursor:pointer;
  display:none;
}

.square-1:hover .img-bg-icon {
  display:block;
} 

.h-button {
  position:absolute;
  height:auto !important;
}

.h-button h3 {
  padding:15px 20px;
  font-size:22px;
}

/* --------------------------------------------------------	*/
/*  About Us  */
/* --------------------------------------------------------	*/

.t-row h2 {
  padding:0px;
}

.t-row h3 {
  padding-top:14px;
}

.t-row .btn {
  height:60px;
  margin:0;
  padding-right:30px;
  padding-left:30px;
}

.team h4{
  padding-bottom:10px;
}
  
/* --------------------------------------------------------	*/
/*  Lists  */
/* --------------------------------------------------------	*/

.list-a, .list-b, .list-c {
  padding:0px;
  margin:0px;
}

.list-a li {
  list-style:none;
  padding-left:30px;
  margin-bottom:15px;
  background: url(../images/arrow3.png) left center no-repeat;
}

.list-b li {
  list-style:none;
  margin-bottom:10px;
}

.list-b i {
  color:#1b3057;
  padding-right:4px;
}

.list-c i {
  font-size:10px;
  padding-right:4px;
}

.list-c li {
  list-style:none;
  margin-bottom:4px;
}

.list-c a {
  color:#83adff;
  text-decoration:none;
}

.list-c a:hover {
  color:#fff;
  text-decoration:none;
}

/* --------------------------------------------------------	*/
/*  Client Says  */
/* --------------------------------------------------------	*/

.client-says {
	position: relative;
  font-style:italic;
  border:0px;
  padding:30px;
  background:#1b3057;
}

.client-says:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 40px;
	bottom: -24px;
	border: 12px solid;
	border-color: #1b3057 transparent transparent #1b3057;
}

.client-says-2 {
  position:relative;
  font-style:italic;
  color:#83adff;
  text-align:right;
  padding-top:15px;
  padding-right:30px;
}

.quotes {
  float:right;
}

.quotes i {
  font-size:17px;
  padding-right:6px;
}

/* --------------------------------------------------------	*/
/*  Progress Bar  */
/* --------------------------------------------------------	*/

.progress {
  height:35px;
  border-radius:0px;
  background: #467add !important; 
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 inset;
  margin-bottom:8px;
}

.bar {
  height:35px;
  line-height:35px;
  background:#1b3057 !important;
  border:0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 inset;
  text-shadow: none !important;
  text-align:left !important;
  padding-left:30px !important;
}
 
/* --------------------------------------------------------	*/
/*  Buttons  */
/* --------------------------------------------------------	*/
  
.btn {
  color:#fff;
  background:#1b3057;
  height:48px;
  line-height:48px;
  padding:0px 22px;
  text-shadow:none;
  border-radius:2px;
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  border:0px;
  margin-bottom:8px;
}

.btn:hover {
  color:#fff;
  background:#467add;
}

.btn-blue {
  background:#467add;
} 

.btn-blue:hover {
  background:#83adff;
} 

.btn-gray {
  background:#3b3b3b;
} 

.btn-gray:hover {
  background:#467add;
} 

/* --------------------------------------------------------	*/
/*  Accordion  */
/* --------------------------------------------------------	*/

.accordion-group {
  border-radius:0px !important;
  border:0px;
  margin-bottom:1px !important;
}
 
.accordion-heading {
  color:#83adff;
  background:#467add; 
}

      .accordion-heading a {
        color:#fff;
        text-decoration:none;
      }

.accordion-inner {
  color:#83adff;
  background:#1b3057; 
  border:0px;
  padding:30px 20px !important;     
}

.accordion-toggle {
  padding:20px !important;
}

/* --------------------------------------------------------	*/
/*  Tabs  */
/* --------------------------------------------------------	*/

.nav-tabs {
  border:0px;
  margin-bottom:0px;
}

.tab-content h3 {
  padding-bottom:0px;
}

.nav-tabs li a {
  border-radius:0px;
  border:0px;
  color:#fff;
  background:#467add;
  padding:20px;
}

.nav-tabs li a:hover {
  background:#1b3057;
}

.tab-content {
  background:#1b3057;
  padding: 0px 20px;
  padding-bottom:10px;   
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color:#1b3057;
  border-color:#1b3057 #1b3057 transparent;
  border-style:solid;
  color:#fff;
}
     
/* --------------------------------------------------------	*/
/*  Alerts  */
/* --------------------------------------------------------	*/
       
.alert {
  margin-bottom:9px;
  padding:20px 40px 20px 20px;
  color:#789ab9;
  background:#e4f2ff;
  border-radius:0px;
  border:0px !important;
  text-shadow:none !important;
}
  
.alert-error {
  color:#fff;
  background:#ff5a5a;
}

.alert-info {
  color:#7f7e00;
  background:#dfde88;
}

.alert-success {
  color:#fff;
  background:#6ac663;
}

/* --------------------------------------------------------	*/
/*  Icons  */
/* --------------------------------------------------------	*/

.icons-s1 {
  font-size:34px;
}

.icons-s2 {
  font-size:28px;
}

.icons-s3 {
  font-size:22px;
}

.icons-s4 {
  font-size:16px;
}

/* --------------------------------------------------------	*/
/*  Tables  */
/* --------------------------------------------------------	*/

table {
  width:100%;
  border-radius:0px !important;
  border:0px !important;
  border-collapse:collapse !important;
}

th {
  color:#fff;
  background:#467add;
  border-radius:0px !important;
  border:1px solid #365eab !important;
  font-weight:normal !important;
  padding:15px 20px !important;
}

td {
  color:#83adff;
  background:#1b3057;
  border-radius:0px !important;
  border:1px solid #365eab !important;
  padding:15px 20px !important;
}

table a:hover{
  text-decoration:none;
}
        
/* --------------------------------------------------------	*/
/*  Forms  */
/* --------------------------------------------------------	*/

.form-main input, .form-main textarea, #edit-submitted-name , #footer #edit-submitted-name--2, #footer #edit-submitted-email, #footer #edit-submitted-message {
  position:relative;
  height:20px;
  width:95%;
  padding:16px 12px 14px 12px; 
  margin-top:10px;
  color:#979797;
  background:#464646;
  border-radius:0px;
  border:0px;
}
#footer #edit-submitted-message {
	height: 225px;
	margin-right: 0px;
	  width: 100%;
}
#webform-client-form-1 label , .webform-client-form label{
  display: none;
} 

#webform-client-form-1 .grippie , .webform-client-form .grippie {
    display: none;
}
.form-main textarea {
  height:200px;
  resize:none;
}

.error {
	color: white;
	display: none;
}

#ajaxsuccess {
	color: #467add;
  font-size:18px;
  font-weight:bold;
	width: 100%;
	display: none;
  clear:both;
}

/* --------------------------------------------------------	*/
/*  Paging  */
/* --------------------------------------------------------	*/

.paging {
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:13px;
  color:#fff;
  background:#467add;
  float:right;
  margin-bottom:5px;
  margin-right:1px;
}

.paging:hover {
  color:#fff;
  background:#101d35;
  text-decoration:none;
}

/* --------------------------------------------------------	*/
/*  Blog Detail  */
/* --------------------------------------------------------	*/

.blog-icon {
  font-size:30px;
  color:#1b3057;
  width:30px;
  height:30px;
}

.post-d-info i {
  padding:0px 5px;
}

.post-d-info h2 {
  padding-bottom:15px;
}

.post-d-info a:hover {
  text-decoration:none !important;
}     
  
  /* --------------------------------------------------------	*/
  /*  Comments  */
  /* --------------------------------------------------------	*/
  
  .comment-title h2, .contact-form-title h2 {
    padding-bottom:5px;
  }

  .comment {
    margin-bottom:30px;
    padding-left:50px;
    background:url(../images/comment-img.png) left 4px no-repeat;
  }

  .comment-author {
    color:#fff;
    font-weight:bold;
  }
  
  .comment-date {
    color:#fff;
  }
  
  .c-margin-2 {
    margin-left:50px;
  }
  
  .c-margin-3 {
    margin-left:100px;
  }
  
  .thank {
    padding-top:12px;
  }   
  
  .form-comment input, .form-comment textarea {
    width:93.4%;
    color:#fff;
    background:#1b3057;
    margin-top:10px;
    padding:8px 12px !important;
    border:0px;
    border-radius:0px;
  }    
  
  .form-comment textarea {
    width:96.9%;  
    height:150px;
    resize:none;
  }   
    
/* --------------------------------------------------------	*/
/*  Pricing Tables  */
/* --------------------------------------------------------	*/

.pricing-tables table {
  width:100%;
  background:transparent;
  border:0px !important;
}

.pricing-tables th {
  font-size:16px;
  font-weight:bold;
  background:#467add;
  text-align:center;
  padding: 30px !important;
}

.pricing-tables td {
  padding:8px 0px;
  color:#7c7e7e;
  background:#fff;
  border-bottom:1px solid #e3e6e8 !important;
  text-align:center;
}

.pricing-tables .plan-title  {
  font-family: 'Titillium Web', sans-serif; 
  font-weight: 200;
  font-size:24px;
  line-height:30px;
 	color: #fff;     
}

.price {
  font-size:36px !important;
  padding-top:36px;   
  line-height:30px;
}

.price2 {
  position:relative;
  top:-8px;
  font-size:14px;
}

.pricing-tables .table-footer {
  font-size:16px;
  color:#fff !important;
  background:#467add !important;
  padding:44px 0px !important;
  border:0px !important;
}

.pricing-tables .active th, .pricing-tables .active .table-footer {
  color:#fff;
  background:#1b3057 !important;
}

.pricing-tables .active td {
  color:#467add;
}

.pricing-tables .active .table-footer {
  border:0px;
  background:#1b3057 !important;
}

/* --------------------------------------------------------	*/
/*  Contact  */
/* --------------------------------------------------------	*/

#map {
  position:relative;
  width:100%;
  height:270px;
  padding:0px;
  border:0px;
}

/* --------------------------------------------------------	*/
/*  Side Bar  */
/* --------------------------------------------------------	*/

  /* --------------------------------------------------------	*/
  /*  Search  */
  /* --------------------------------------------------------	*/
  
  .search-box{
    position:relative;
  }
  
  .search {
    width:80%;
    height:34px;
    color:#fff;
    background:#1b3057;
    border:0px;
    padding-left:5%;
    padding-right:15%;
  }
  
  .search-icon, .search-icon:hover {
    position:absolute;
    font-size:14px;
    top:7px;
    right:12px;
    color:#fff;
    text-decoration:none;    
  }

  /* --------------------------------------------------------	*/
  /*	Flickr Widget */
  /* --------------------------------------------------------	*/
  
  .photo-stream {
    float:left;
    width:60px;
    height:60px;
    border-bottom:0px;
    margin-right:13px;
    margin-bottom:13px;
    overflow:hidden;
  }  

  /* --------------------------------------------------------	*/
  /*  Tags  */
  /* --------------------------------------------------------	*/
  
  .tag {
    height:20px;
    font-size:13px;
    color:#fff;
    background:#467add;
    padding:5px 13px 4px 13px;
    margin-right:10px;
    margin-bottom:10px;
    float:left;
  }
  
  .tag:hover {
    background:#1b3057;
  }

/* --------------------------------------------------------	*/
/*  Testimonials  */
/* --------------------------------------------------------	*/

.testimonials {
  background:#1b3057;
  border:1px solid #365eab;
  padding:30px; 
}

/* --------------------------------------------------------	*/
/*	Gallery */
/* --------------------------------------------------------	*/

.portfolio{
  overflow:hidden;
  margin:0px;
}

.portfolio .span4, .portfolio .span6{
  margin-top:50px;
}

.portfolio .span2, .portfolio .span3{
  margin-top:40px;
}

.portfolio a{
  text-decoration:none;
}

.portfolio li{
  list-style:none;
}

.portfolio-info {
  height:100%;
  background:#f5f7f8;
  border:1px solid #cbcfd1;
  border-bottom:2px solid #cbcfd1;
  padding:30px;
}
  
  /* --------------------------------------------------------	*/
  /*	Gallery Filter */
  /* --------------------------------------------------------	*/

  #portfolio-filter{
    margin:0px;
    overflow:hidden;
  }
    
  #portfolio-filter li {
    list-style:none;
    float:left;
    margin-right:10px;
    margin-top:5px;
    padding:12px 0px;
  }
    
  #portfolio-filter li a {
    padding:12px 15px;
    margin:0px;
    border:0px;
  	color:#fff;
  }
 
  #portfolio-filter li:hover a {
    color:#fff;
    background: #83adff;
    text-decoration:none;
  }
    
  #portfolio-filter li.active a {
    color:#fff;
    background: #1b3057;
  }

	/* --------------------------------------------------------	*/
	/*	Gallery - Isotype (filtering tags) */
	/* --------------------------------------------------------	*/

	.isotope-item {
	  z-index: 2;
	}

	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}   

	/* Isotope CSS3 transitions */    
	.isotope,	.isotope .isotope-item {
	  -webkit-transition-duration: 0.4s;
		 -moz-transition-duration: 0.4s;
		  -ms-transition-duration: 0.4s;
		   -o-transition-duration: 0.4s;
			  transition-duration: 0.4s;
	}

	.isotope {
	  -webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
		  -ms-transition-property: height, width;
		   -o-transition-property: height, width;
			  transition-property: height, width;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
		 -moz-transition-property:    -moz-transform, opacity;
		  -ms-transition-property:     -ms-transform, opacity;
		   -o-transition-property:         top, left, opacity;
			  transition-property:         transform, opacity;
	} 

	/* disabling Isotope CSS3 transitions */
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
		 -moz-transition-duration: 0s;
		  -ms-transition-duration: 0s;
		   -o-transition-duration: 0s;
			  transition-duration: 0s;
	}                                      

/* --------------------------------------------------------	*/
/*	Footer */
/* --------------------------------------------------------	*/

#footer {
  position:relative;
  color:#8c8e90;
  font-size:14px;
  line-height:22px;
  padding:30px 41px 20px 41px;
  background:#3b3b3b;
  border-bottom:2px solid #060606;
  overflow:hidden;  
}

#footer h2 {
  margin-bottom:0px !important;
  padding-bottom:0px !important;
  padding-top:20px;
}
h2.block-title {
	  font-size: 24px;
    line-height: 30px;
	}

#footer h3 {
  padding-bottom:10px !important;
}

.logo-footer{
  line-height:32px;
}

.logo-footer img{
  width:auto;
  float:left;
  margin-right:20px;
}

#footer a {
  color:#8c8e90;
  text-decoration:none;
}

#footer a.white {
  color:#fff;
}

#footer a:hover, #footer a.white:hover {
  color:#83adff;
  text-decoration:none;       
}

#footer i {
  margin-right:12px;
}

.texture-footer {
  position:absolute;
  top:-30px;
  right:-150px;
}

#footer .btn, #footer #edit-submit--2 {
  background:#282828;
  text-shadow:none;
  border-radius:2px;
  -webkit-box-shadow:rgba(255, 255, 255, 00) 0 0 0 inset, rgba(0, 0, 0, 00) 0 0 0;
  background-image:-webkit-linear-gradient(top, #282828, #282828);
  margin-top:20px;
}

#footer .btn:hover {
  background:#365eab;
}

#footer .btn i {
  margin-left:12px;
  margin-right:0px;
}

/* --------------------------------------------------------	*/
/*	Social Networks Icons */
/* --------------------------------------------------------	*/

.social-network { 
	display:inline-block; 
	background: url(../images/social-networks.png) no-repeat top left; 
	width: 24px; 
	height: 24px; 
	background-position-y: 0; 
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;                                             
	-o-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	transition:all 0.2s ease;
	cursor:pointer;
  border:0px !important;
  margin-right:6px;
}

.sn2 {
	background: url(../images/social-networks-2.png) no-repeat top left; 
}

/* Normal */
.social-network.aim{ background-position: 0 0}
.social-network.amazon{ background-position: -24px 0}
.social-network.apple{ background-position: -48px 0}
.social-network.behance{ background-position: -72px 0}
.social-network.blogger{ background-position: -96px 0}
.social-network.delicious{ background-position: -120px 0}
.social-network.deviantart{ background-position: -144px 0}
.social-network.digg{ background-position: -168px 0}
.social-network.dribbble{ background-position: -192px 0}
.social-network.ebay{ background-position: -216px 0}
.social-network.evernote{ background-position: -240px 0}
.social-network.facebook{ background-position: -264px 0}
.social-network.feedburner{ background-position: -288px 0}
.social-network.flickr{ background-position: -312px 0}
.social-network.forrst{ background-position: -336px 0}
.social-network.foursquare{ background-position: -360px 0}
.social-network.github{ background-position: -384px 0}
.social-network.google{ background-position: -408px 0}
.social-network.gowalla{ background-position: -432px 0}
.social-network.icq{ background-position: -456px 0}
.social-network.itunes{ background-position: -480px 0}
.social-network.lastfm{ background-position: -504px 0}
.social-network.linkedin{ background-position: -528px 0}
.social-network.meetup{ background-position: -552px 0}
.social-network.myspace{ background-position: -576px 0}
.social-network.newsvine{ background-position: -600px 0}
.social-network.openid{ background-position: -624px 0}
.social-network.paypal{ background-position: -648px 0}
.social-network.picasa{ background-position: -672px 0}
.social-network.pinterest{ background-position: -696px 0}
.social-network.posterous{ background-position: -720px 0}
.social-network.reddit{ background-position: -744px 0}
.social-network.rss{ background-position: -768px 0}
.social-network.skype{ background-position: -792px 0}
.social-network.slashdot{ background-position: -816px 0}
.social-network.soundcloud{ background-position: -840px 0}
.social-network.stumbleupon{ background-position: -864px 0}
.social-network.technorati{ background-position: -888px 0}
.social-network.tumblr{ background-position: -912px 0}
.social-network.twitter{ background-position: -936px 0}
.social-network.viddler{ background-position: -960px 0}
.social-network.vimeo{ background-position: -984px 0}
.social-network.virb{ background-position: -1008px 0}
.social-network.wordpress{ background-position: -1032px 0}
.social-network.xing{ background-position: -1056px 0}
.social-network.yahoo{ background-position: -1080px 0}
.social-network.yelp{ background-position: -1104px 0}
.social-network.youtube{ background-position: -1128px 0}
.social-network.zerply{ background-position: -1152px 0}

/* Mouseovers */
.social-network.aim:hover,.active .social-network.aim{ background-position: 0 -24px}
.social-network.amazon:hover,.active .social-network.amazon{ background-position: -24px -24px}
.social-network.apple:hover,.active .social-network.apple{ background-position: -48px -24px}
.social-network.behance:hover,.active .social-network.behance{ background-position: -72px -24px}
.social-network.blogger:hover,.active .social-network.blogger{ background-position: -96px -24px}
.social-network.delicious:hover,.active .social-network.delicious{ background-position: -120px -24px}
.social-network.deviantart:hover,.active .social-network.deviantart{ background-position: -144px -24px}
.social-network.digg:hover,.active .social-network.digg{ background-position: -168px -24px}
.social-network.dribbble:hover,.active .social-network.dribbble{ background-position: -192px -24px}
.social-network.ebay:hover,.active .social-network.ebay{ background-position: -216px -24px}
.social-network.evernote:hover,.active .social-network.evernote{ background-position: -240px -24px}
.social-network.facebook:hover,.active .social-network.facebook{ background-position: -264px -24px}
.social-network.feedburner:hover,.active .social-network.feedburner{ background-position: -288px -24px}
.social-network.flickr:hover,.active .social-network.flickr{ background-position: -312px -24px}
.social-network.forrst:hover,.active .social-network.forrst{ background-position: -336px -24px}
.social-network.foursquare:hover,.active .social-network.foursquare{ background-position: -360px -24px}
.social-network.github:hover,.active .social-network.github{ background-position: -384px -24px}
.social-network.google:hover,.active .social-network.google{ background-position: -408px -24px}
.social-network.gowalla:hover,.active .social-network.gowalla{ background-position: -432px -24px}
.social-network.icq:hover,.active .social-network.icq{ background-position: -456px -24px}
.social-network.itunes:hover,.active .social-network.itunes{ background-position: -480px -24px}
.social-network.lastfm:hover,.active .social-network.lastfm{ background-position: -504px -24px}
.social-network.linkedin:hover,.active .social-network.linkedin{ background-position: -528px -24px}
.social-network.meetup:hover,.active .social-network.meetup{ background-position: -552px -24px}
.social-network.myspace:hover,.active .social-network.myspace{ background-position: -576px -24px}
.social-network.newsvine:hover,.active .social-network.newsvine{ background-position: -600px -24px}
.social-network.openid:hover,.active .social-network.openid{ background-position: -624px -24px}
.social-network.paypal:hover,.active .social-network.paypal{ background-position: -648px -24px}
.social-network.picasa:hover,.active .social-network.picasa{ background-position: -672px -24px}
.social-network.pinterest:hover,.active .social-network.pinterest{ background-position: -696px -24px}
.social-network.posterous:hover,.active .social-network.posterous{ background-position: -720px -24px}
.social-network.reddit:hover,.active .social-network.reddit{ background-position: -744px -24px}
.social-network.rss:hover,.active .social-network.rss{ background-position: -768px -24px}
.social-network.skype:hover,.active .social-network.skype{ background-position: -792px -24px}
.social-network.slashdot:hover,.active .social-network.slashdot{ background-position: -816px -24px}
.social-network.soundcloud:hover,.active .social-network.soundcloud{ background-position: -840px -24px}
.social-network.stumbleupon:hover,.active .social-network.stumbleupon{ background-position: -864px -24px}
.social-network.technorati:hover,.active .social-network.technorati{ background-position: -888px -24px}
.social-network.tumblr:hover,.active .social-network.tumblr{ background-position: -912px -24px}
.social-network.twitter:hover,.active .social-network.twitter{ background-position: -936px -24px}
.social-network.viddler:hover,.active .social-network.viddler{ background-position: -960px -24px}
.social-network.vimeo:hover,.active .social-network.vimeo{ background-position: -984px -24px}
.social-network.virb:hover,.active .social-network.virb{ background-position: -1008px -24px}
.social-network.wordpress:hover,.active .social-network.wordpress{ background-position: -1032px -24px}
.social-network.xing:hover,.active .social-network.xing{ background-position: -1056px -24px}
.social-network.yahoo:hover,.active .social-network.yahoo{ background-position: -1080px -24px}
.social-network.yelp:hover,.active .social-network.yelp{ background-position: -1104px -24px}
.social-network.youtube:hover,.active .social-network.youtube{ background-position: -1128px -24px}
.social-network.zerply:hover,.active .social-network.zerply{ background-position: -1152px -24px}

/*  */
#edit-actions--2 {
	background:none;
	margin:0;
	padding:
	}
.progress .bar {
    background: none repeat scroll 0 0 #CCCCCC;
    border:none;
    border-radius: 0 0 0 0;
    margin: 0;
}
/*.btn {
	margin-right:3px;
	}
	*/
h1#page-title {
color: #fff;		
		}
#footer h2.block-title {
padding-bottom: 10px !important;	
			}
#footer .form-item, #footer .form-actions {
margin-top: 0;
margin-bottom: 0;
}
 #footer .form-actions {
border:none;	 
	 }
	 
	 #footer #edit-submit--2 {
}

#footer .btn:hover , #footer #edit-submit--2:hover {
  background-color:#365eab;
}

#footer .btn i {
  margin-left:12px;
  margin-right:0px;
}
.webform-client-form #edit-submit--2 {
	border:none;
	background: none repeat scroll 0 0 #282828;
    border-radius: 2px 2px 2px 2px;
    margin-top: 10px;
    text-shadow: none;
	float:right;
	
	}
.webform-client-form .form-actions {
	padding:0;
}
.field-name-field-custom p, .field-name-field-icon p{
	margin: 0;
	}
	
#content h1#page-title {
	  padding: 50px 0 40px;
	}
.post-d-info .field-name-field-categories {
		display:none;
		}
		
#edit-submit--2.form-submit	{
  color:#fff;
  background:#1b3057;
  height:48px;
  line-height:48px;
  padding:0px 22px;
  text-shadow:none;
  border-radius:2px;
  -webkit-box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  box-shadow:rgba(0, 0, 0, 0) 0 0 0 !important;
  border:0px;
  margin-bottom:8px;
}
#block-block-10 .content {
	
	padding-top: 103px;
	}
	#block-block-9 .content h2{
	
	padding-top: 10px;
	}
	
	.page-node-6 h1.title {
		display:none;
		
		}
		
		#block-block-6 h2.block-title {
			padding-bottom: 0 !important;
			}

.view-isotope-example li a.selected {
    /*float: left;*/
    list-style: none outside none;
   /* margin-right: 10px;*/
    margin-top: 5px;
    padding:12px 15px;
	 color:#fff;
    background: #1b3057;
}


  .view-isotope-example{
    margin:0px;
    overflow:hidden;
  }
    
 .view-isotope-example li {
    list-style:none;
    float:left;
    margin-right:10px;
    margin-top:5px;
    padding:12px 0px;
  }
    
  .view-isotope-example li a {
    padding:12px 15px;
    margin:0px;
    border:0px;
  	color:#fff;
  }
 
 .view-isotope-example li:hover a {
    color:#fff;
    background: #83adff;
    text-decoration:none;
  }
  
 #block-search-form  .form-actions {
	 padding: 0 !important;
	 }
	 .region-sidebar-first h2.block-title {
		 padding: 0;
		 padding-bottom: 20px;
		 }
		  .region-sidebar-first block {
		
		 margin-bottom: 20px;
		 }
		 
		 .space140 {
height: 140px;
clear: both;
}

.region-sidebar-first #search-block-form {
width: 80%;
height: 34px;
color: #fff;
background: #1b3057;
border: 0px;
padding-left: 5%;
padding-right: 15%;
position: relative;
}
#search-block-form .form-item {
    margin: 0;
}
#search-block-form #edit-actions {
    float: right;
    margin: 3px 0 0;
}
#search-block-form label {
    display: none;
}

.region-sidebar-first .block {
	margin-bottom: 20px;
	}

#block-block-14 p {
    margin: 0;
}
#webform-client-form-1 .form-actions {
	background-color: #3B3B3B;
	}
	#webform-client-form-1 #edit-submit--2 {
	    background: none repeat scroll 0 0 #282828;
    border-radius: 2px 2px 2px 2px;
    margin-top: 10px;
    text-shadow: none;
	}
	.blue-dark a {
		color:#1B3057;
		}
.form-actions {
padding: 0
margin-top: 20px;
margin-bottom: 20px;
background-color: #365EAB;
border-top: none;
}

.node-type-blog .region-content .btn.f-right, .region-content .btn.f-right {
	float:none !important;
	}
	.comment h3 {
color: #fff;
font-weight: bold;
font-size:15px;
padding: 0 !important;
		}
		
.indented {
    margin-left: 45px;
}

#comments h2.title {
	font-size: 24px;
line-height: 30px;
	}
	
	.isotope-item {

  margin-right:20px !important;
	}
 
 .btn-blue.f-right.fr  {
	 float:right !important;
	 }
 ul.menu li {
  margin: 0 !important;
}
.progress {
font-weight: normal;
}

.block-search {

}
.region-sidebar-first .block-search .block-inner, #header .block-search .form-item, #header #search-block-form {
    margin: 0;
    padding: 0;
}
.region-sidebar-first .block-search .container-inline div {
    display: block;
    float: left;
}
.region-sidebar-first #search-block-form .form-text {
width: 80%;
/*height: 34px;*/
color: #fff;
background: #1b3057;
border: 0px;
padding-left: 5%;
/*padding-right: 15%;*/
}
.region-sidebar-first #search-block-form .form-submit {
    background: url("../images/ico-search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    height: 25px;
    padding: 0;
    text-indent: -999em;
    vertical-align: top;
    width: 35px;
	position:absolute;
	right: 0;
    top: 0;
}
input[type="text"] {
	margin-top: 2px;
	}
	input[type="text"]:focus {
	box-shadow:none;
	}
	
.comment-form	.form-item-name , .comment-form .form-item-subject{
width: 370px;
float: left;
}

.comment-form .field-name-comment-body{
	clear:both;
	}
	



.comment-form input[type="text"], .comment-form .text-full,  #block-user-login input[type="text"] , #block-user-login input[type="password"]{
 background: none repeat scroll 0 0 #1B3057;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 8px 12px !important;
   /* width: 79.4%;*/
}

.comment-form  .grippie {
	display:none;
	}
	
.comment-form	#edit-name , .comment-form #edit-subject{
	width: 300px;
	}
.comment-form .text-full {
width: 90.2%;
}

#comments .form-select {
	background: none repeat scroll 0 0 #1B3057;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 8px 12px !important;
	}

#comments .btn {
	margin-right:5px;
	}
	
	    /*= twiterr =*/
    .s-tweet{position: relative;}
	.s-tweet ul{margin-left: 0;}
    .s-tweet li{padding:15px 15px 15px 0  !important;list-style: none;}
    .s-tweet .tweet_list li:last-child{
        border-bottom: none !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .s-tweet img{
        float: left;
        margin-right: 15px;
        background-color: transparent !important;
		width: 25px;
    }
	
ul.thumbs { 
    margin: 0;
	margin-bottom:20px;
	overflow: auto;
}
#flickr li {
    float: left;
    margin: 0 5px 5px 0;
	list-style:none;
}
#flickr a {
    border-bottom: medium none !important;
}
#flickr img {
    width: 60px;
}
    ul.primary li a {
    background-color: #1B2F57;

}
ul.primary li a:hover {
    background-color: #365EAB;
 
}

.webform-client-form input[type="submit"].btn {
	display:none;
	}
.page-node-1 .links {
	display:none;
	}
 #block-views-categories-block {
		overflow:auto;
		}
#block-block-16	h2 {
padding-bottom: 0;
		}
#isotope-options {
padding-bottom: 40px;
}

.paging {
    background: none repeat scroll 0 0 #467ADD;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-right: 1px;
    text-align: center;
    width: 30px;
}
.pager li > a, .pager li > span {
    background-color: #467ADD;
    border: none !important;
    border-radius: 0 0 0 0;
    display: inline-block;
    padding: 5px 14px;
	 border: 1px solid #467ADD;
}
.pager li > a:hover, .pager li > a:focus {
    color:#fff;
  background:#101d35;
   border: 1px solid #101d35;
}

ul.pager li {
	margin: 0;
	}
ul.pager li.pager-current {
	 color:#fff;
  background:#101d35;
   padding: 5px 14px 6px;
  
	}
	.item-list .pager li {

    padding: 0;
}

.submitted {
	margin-bottom: 30px;
	}
.tree-p h3 a {
color: #3b4444 !important;
}
.tree-p h3 a:hover {
color: #C9AB8B !important;
}
.tree-p .views-field-body {
color: #3b4444 !important;
}

.tree-p .isotope-item {
	margin-bottom: 40px;
	}
#tweets .user img, .user a > span {
    float: left;
}
#tweets .user a > span {
}
#tweets img {
    height: 30px;
    width: 30px;
}
#tweets ul li{
list-style: none outside none;

}
#tweets .user img{
    padding-right: 10px;
}
#tweets ul{
    margin: 0;
}

